@import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100%;
	min-height: 100vh;
	overflow: hidden;
	background: #eee;
	font-family: "Orbitron", sans-serif;
}

.container {
	height: 100vh;
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container.dayTime {
	background: linear-gradient(
		#4db6ac 20%,
		#b2ebf2 50%,
		#ffecb3 80%,
		#ffcc80 100%
	);
	background-size: cover;
}

.container.nightTime {
	background: linear-gradient(
		#1a237e 10%,
		#f3e5f5 50%,
		#d1c4e9 75%,
		#b2ebf2 90%
	);
	background-size: cover;
}

.calendar p {
	font-size: 2rem;
	font-weight: bold;
	letter-spacing: 3px;
	text-align: center;
	margin-bottom: 0.5rem;
}

.frame {
	width: 100%;
	display: flex;
	justify-content: center;
}

h2 {
	width: 5.5rem;
}

h2,
.divider {
	font-size: 2.75rem;
	text-align: center;
	color: #323232;
}

.format {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: translate(5px, -4px);
}

p {
	text-align: center;
	font-size: 1.25rem;
}

button {
	border: 0;
	border-radius: 15px;
	background: #455a64;
	color: #eee;
	font-family: "Orbitron", sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	letter-spacing: 3px;
	white-space: nowrap;
	text-transform: uppercase;
	text-decoration: none;
	outline: none;
	margin-top: 1rem;
	padding: 0.5rem 1rem;
	cursor: pointer;
	transition: transform 0.2s ease;
}

button:hover,
button:focus {
	transform: translateY(-2px);
}

button:active {
	transform: translateY(1px);
}
